<<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>注册成功</title>
</head>
<body>
<h1 style="text-align: center">注册成功，三秒后跳转<span id="remainSeconds">3</span></h1>
</body>

<script type="text/javascript">
    var sec = 3;
    function jump(){
        sec--;
        if(sec > 0){
            document.getElementById('remainSeconds').innerHTML = sec;
            setTimeout(this.jump,1000);
        }else{
            window.location.href = '../index.html';
        }
    }
    setTimeout(jump,1000);
</script>
</html>
